/* CSS styles for the homepage */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.header {
  background-color: #0f0f0f; /* Updated header background color to a shade in between #222 and #111 */
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.menu {
  display: flex;
}

.menu-item {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #000;
  color: #fff;
}

.content {
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  font-size: 40px;
}

button {
  border-radius: 100px;
}

.game-card {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: calc(10% - 20px);
  height: 250px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 11px;
}

.game-card img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* or object-fit: contain; */
  margin-bottom: 10px;
  border-radius: 25px;
}


.game-card:hover {
  transform: scale(0.9);
}

.game-container {
  text-align: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


.back {
  background-color: #383838;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back:hover {
  background-color: #000;
  color: #fff;
}